@charset "UTF-8";

/* ----------------------------------------------------------
  Reset
---------------------------------------------------------- */

body #tarteaucitronRoot #tarteaucitronAlertBig {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px!important;
}

body #tarteaucitronAlertBig #tarteaucitronPrivacyUrl,
body #tarteaucitronAlertBig #tarteaucitronPrivacyUrlDialog,
body #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert,
body #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert strong {
    font-family: sans-serif;
    font-size: inherit;
}

/* ----------------------------------------------------------
  Buttons
---------------------------------------------------------- */

body .tarteaucitronCTAButton,
body #tarteaucitron #tarteaucitronPrivacyUrl,
body #tarteaucitron #tarteaucitronPrivacyUrlDialog,
body #tarteaucitronRoot .tarteaucitronDeny,
body #tarteaucitronRoot .tarteaucitronAllow {
    font-family: sans-serif!important;
    font-size: inherit!important;
}
